html, body {
    height: 96.7%;
}

.menu {
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #545454;
}

.slogan {
    width: 250px;
    height: min-content;
}

h1 {
    width: 250px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

li a.categorias-menu:hover, .dropdown:hover .dropbtn {
    color: black;
    background-color: #CDCDCD;
}

li a.categorias-menu, .dropbtn {
    margin-left: 30px;
    display: inline-flexbox;
    color: #CDCDCD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li.dropdown {
    padding: 0px;
    display: inline-block;
}

#botao-login {
    margin-top: 3%;
    background-color: #737373;
    color: #ECECEC;
    text-decoration: none;
}

.foto_perfil {
    border-radius: 50%;
    width: 40px;
    height:40px;
}

.link_botao {
    color: #ECECEC;
    text-decoration: none;
}

.container-principal {
    display: flex;
    height: 100%;
}

.container-esquerda {
    display:table-column;
    margin-top: 10%;
    margin-left: 40px;
    margin-right: 10%;
}

.container-busca {
    margin-top: 50px;
}

.container-direita {
    float: right;
    align-items: center;
    background-color: #EAE8E8;
    width: 80%;
    height: 100%;
}

.container-carrossel {
    align-self: center;
    margin-top: 3%;
    margin-left: 4%;
}

.texto {
    width: 250px;
    margin: 5px;
    background-color: #ECECEC;
    color: black;
}

#CarrosselSudestour {
    width: 98% !important;
    height: 80% !important;
}