html {
    height: 80%;
}
html, body {
    height: 100%;
}
.menu {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #545454;
}
li a.categorias-menu:hover, .dropdown:hover .dropbtn {
    color: black;
    background-color: #CDCDCD;
}

li a.categorias-menu, .dropbtn {
    margin-left: 30px;
    display: inline-flexbox;
    color: #CDCDCD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li.dropdown {
    padding: 0px;
    display: inline-block;
    margin-left: 8%;
}

.logo {
    display: flex;
    float: left;
}

.opcoes_menu {
    width: 87%;
    margin-top: 0.7%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    position: sticky;
    top: 0;
}

body {   
    font-family: 'Roboto', sans-serif;   
    background-color: #EAE8E8;
    height: 100%;

}

p {
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    display: inline-block;
    color: #EAE8E8; ;
}

.c-carteira_anunciante {
    /*margin-top: 5%;*/
    text-align: center;   
}

.c-inputs {
    font-family: 'DM Sans', sans-serif;
    margin-top: 13%;
    margin-left: 30%;
    max-width: 450px;
    color: #EAE8E8;
}

.container {
    background-color: #545454;
    max-width:90%;
    height:84%;
    margin-top: 3%;
    margin-left: 5%;
    border-radius: 15px;
}

.imagem-usuario {
    margin-left: 40%;
    /*margin-top: 8%;*/
    max-height: 350px;
}

.text {
    height: 30px;
    width: 300px;
    margin: 5px;
    background-color: #ECECEC;
    color: #545454;
}

.container-esquerda {
    align-items: center;
    display: flex;
    float: left;
    width: 30%;
    height:50%;
}

.container-descricao {
    float: right;
    /*margin-left: %;*/
    width: 70%;
    height: 400px;
    border-radius: 15px;
}

.container-imagem{
    height: 80%;
    min-width: 25% !important;
    border-radius: 10px;
    /*margin-right: 10%;
    /*margin-top: 15%;*/
}

a {
    text-decoration: none;
    color: white;
}

.botao {
    font-size: 20px;
    width: 130px;
    height: 50px;
    margin-top: 15%;
    margin-left: 10%;
    background-color: #8d8787;
    color: white;
    border-radius: 4px;
}
