html, body {
    height: 96.7%;
}

.link {
    color: white;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #545454;
}

li a.categorias-menu:hover, .dropdown:hover .dropbtn {
    color: black;
    background-color: #CDCDCD;
}

li a.categorias-menu, .dropbtn {
    margin-left: 30px;
    display: inline-flexbox;
    color: #CDCDCD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li.dropdown {
    padding: 0px;
    display: inline-block;
    margin-left: 8%;
}

.container-principal {
    background-color: #EAE8E8;
    display: flex;
    height: 100%;
}

.container-esquerda {
    display:table-column;
    width: 30%;
    margin-top: 3%;
    margin-right: 2%;
}

label {
    font-family: 'DM Sans', sans-serif;
}

#categorias {
    font-family: 'DM Sans', sans-serif;
}

.container-filtros {
    margin-top: 50%;
    margin-left: 10%;
}

.container-direita {
    background-color: rebeccapurple;
    margin-top: 3%;
    float: right;
    align-items: center;
    width: 80%;
    height: 100%;
}

.direita-radiobuttons{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}

.radiobutton{
    margin-left: 3%;
}

.botaoLogin {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #737373;
    margin-top: 3%;
}

.botaoBuscar {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #737373;
    margin-top: 3%;
    width: 140px;
    height: 40px;
}

.combobox_filtros {
    background-color: white;
    margin-bottom: 5%;
    width: 50%;
    height: 50%;
}