@font-face {
    font-family: 'League_Spartan';
    src: url(../fontes/LeagueSpartan-VariableFont_wght.ttf) format('ttf');
}

html {
    height: 80%;
}

body {
    background-color: #11d6dd;
    height: 100%;
}

.container {
    /*float: center; */
    background-color: #CECECE;
    max-width:50px;
    height:100%;
    margin-top: 4.5%;
}

.container-teste {
    display: inline-flex;
}

.c-bemvindo {
    height: 50%;
    width: 40%;
    margin-top: 10%;
}

.c-inputs {
    width: 30%;
}

.c-buttons {
    width: 30%;
    float:center;
}

button {
    width: 250px;
    height: 40px;
    background-color: #535353;
    color: white;
}

.text {
    margin-left: 500px;
    width: 250px;
    margin: 5px;
    background-color: #ECECEC;
    color: #545454;
}
