html, body {
    height: 96.7%;
}

.menu {
    list-style-type: none;
    margin: 0;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #545454;
}

.slogan {
    width: 250px;
    height: min-content;
}

li a.categorias-menu:hover, .dropdown:hover .dropbtn {
    color: black;
    background-color: #CDCDCD;
}

li a.categorias-menu, .dropbtn {
    display: inline-block;
    color: #CDCDCD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li.dropdown {
    padding: 0px;
    display: inline-block;
    margin-left: 8%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFE0;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,1);
    z-index: 0.2;
}

/*.dropdown-content a {
    color: darkblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}*/
  
.dropdown-content a:hover {
    background-color: #CDCDCD;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#botao-login {
    margin-left: 150px;
    background-color: #737373;
    color: #ECECEC;
}

.container-principal {
    display: flex;
    height: 100%;
}

.container-esquerda {
    display:table-column;
    margin-top: 10%;
    margin-left: 40px;
    margin-right: 10%;
}

.container-busca {
    margin-top: 50px;
}

.container-direita {
    float: right;
    align-items: center;
    background-color: #EAE8E8;
    width: 80%;
    height: 100%;
}

.container-carrossel {
    /*margin-left: 20%;*/
    align-self: center;
    margin-top: 3%;
    margin-left: 4%;
}

/*.carousel-slide {
    width: 70%;
    height: 75%;
}*/

.texto {
    width: 250px;
    margin: 5px;
    background-color: #ECECEC;
    color: black;
}

#CarrosselSudestour {
    width: 70% !important;
    height: 75% !important;
}